ADMIN_KEY=change-this-before-deploying
MONGODB_URI=mongodb+srv://user:password@cluster.example.mongodb.net/?retryWrites=true&w=majority
MONGODB_DB=visitor-location-web
MONGODB_VISITS_COLLECTION=visits
